__pycache__/
*.pyc
*.pyo
*.pyd
**/__pycache__/
*$py.class

.venv/
venv/
env/
*.egg-info/

.idea/

.DS_Store
Thumbs.db

*.log
.coverage
htmlcov/

db/
*.db
*.db.lock
db/
uploads/

uploads/
*.pdf
*.docx
*.txt
cli_manual_rag.py
*.md
*.pdf
*.docx
*.txt
!README.md

.env
*.pem
*.crt
*.key

build/
dist/
*.egg-info/
.volumes/
!requirements.txt
